locus/.tmp
locus/.sass-cache
locus/.publish
locus/coverage/
locus/build/
locus/dist/
locus/node_modules/
locus/reports/
locus/webpack.stats.json
locus/src/enterprise
locus/.DS_Store

locus/out/


writer/.tmp
writer/.sass-cache
writer/.publish
writer/coverage/
writer/build/
writer/dist/
writer/node_modules/
writer/reports/
writer/webpack.stats.json
writer/src/enterprise
writer/.DS_Store

writer/out/

tasks/node_modules/
tasks/.DS_Store

publisher/node_modules/
publisher/.DS_Store

deployment/
deployment/.DS_Store

locus-apps/build/
locus-apps/DerivedData/
locus-apps/**/*.xcuserstate
locus-apps/**/xcuserdata/
locus-apps/*.xcworkspace
locus-apps/Pods/
locus-apps/.DS_Store
locus-apps/*.swp
locus-apps/*.swo
locus-apps/**/*.hmap
locus-apps/**/*.ipa
locus-apps/**/*.dSYM
locus-apps/**/*.dSYM.zip

.DS_Store