@tailwind base;
@tailwind components;
@tailwind utilities;

div:focus-visible {
  @apply ring-offset-0 ring-0 outline-none;
}

html,
body {
  font-family: 'Satoshi', sans-serif;
}

.tiptap-toolbar button {
  border: 2px solid black;
  padding: 5px;
}

.prose li p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
