

{{#content "body"}}
  <div class="flex flex-col-reverse sm:flex-row p-4 mt-0 sm:mt-8">
    <div class="p-4 w-full max-w-xs">
      {{> sidebar}}
    </div>
    <div class="w-full sm:mt-0">
      <div class="max-w-md p-4">
        <div class="flex flex-col sm:flex-row">
          {{#if pic}}<img src="{{pic}}" alt="{{siteTitle}}" class="w-40 mb-4 sm:mb-0 sm:mr-8"/>{{/if}}
          <article class="prose tiptap-editor mb-4">
            {{{bio}}}
          </article>
        </div>
      </div>
    </div>
  </div>
{{/content}}

{{#content "eob-block"}}
    <script>
      window.addEventListener(
        "message",
        function (event) {
          if (event.data.type === "setIframeHeight") {
            if (event.origin !== window.location.origin) {
              // Only accept messages from the same origin
              return;
            }
            var iframe = document.getElementById(event.data.iframeId);
            if (iframe) {
              iframe.style.height = event.data.height + 20 + "px";
            }
          }
        },
        false
      );
    </script>
    <script>
      // get all btw-embed elements on the page
      const embeds = document.querySelectorAll("btw-embed");
      // for each element
      embeds.forEach((embed) => {
        // get the html attribute
        let html = embed.getAttribute("code");
        // if the html attribute is empty, then get the content of the element
        if (!html) {
          html = embed.innerHTML;
        }

        html = (html || "").replace(/&quot;/g, '"');
        const div = document.createElement("div");
        const iframe = document.createElement("iframe");
        // create unique id for iframe
        const iframeId = "iframe-" + Math.random().toString(36).substr(2, 16);
        var jsCode = `<scr`+ `ipt>function sendHeightToParent() {
        var height = document.body.scrollHeight;
        var origin = window.location.origin;
        if (origin === "null" || !origin) {
          origin = "*";
        }
        window.parent.postMessage({
            type: 'setIframeHeight',
            iframeId: '${iframeId}',
            height: height
        }, origin);
    }

    window.addEventListener('load', sendHeightToParent, false);
    window.addEventListener('resize', sendHeightToParent, false);

    // there is a delay sometimes. 
    // let's send height again after 1 second for 6 times at 2 second intervals
    setTimeout(sendHeightToParent, 1000);
    setTimeout(sendHeightToParent, 3000);
    setTimeout(sendHeightToParent, 5000);
    setTimeout(sendHeightToParent, 7000);
    setTimeout(sendHeightToParent, 9000);
    setTimeout(sendHeightToParent, 11000);
    </scr` + `ipt>`;
            // if html contains body tag, then add jscode to body tag of html. else append to html directly
            if (html.includes("<body>")) {
                html = html.replace("<body>", `<body>${jsCode}`);
            } else {
                html = html + jsCode;
            }

            // insert html into iframe
            iframe.srcdoc = html;
            iframe.frameborder = "0";
            iframe.allowfullscreen = "";
            iframe.scrolling = "no";
            iframe.className = "w-full ";
            iframe.id = iframeId;

            div.appendChild(iframe);
            div.className = "w-full";

            // remove all children of embed and set div as child
            while (embed.firstChild) {
                embed.removeChild(embed.firstChild);
            }
            embed.appendChild(div);
        });
    </script>
{{/content}}