{{#content "body"}}

  <div class="py-4 border-b-2 border-gray-200 text-center">
    <a href="{{mainUrl}}" class="text-xl font-bold">{{siteTitle}}</a>
  </div>
  <article class="prose max-w-2xl mx-auto p-4 tiptap-editor">
    <article>
      {{{note.html}}}
    </article>
  </article>
{{/content}}